//CenterColumn.module.scss
@import '../../../../stylesheets/variables.scss';
@import '../../../../stylesheets/main.scss';

.centerColumn {
	width: 24rem;
	height: 34rem;
	border: 1px solid $purple-strong;
	font-family: $Lexend;
	border-radius: $border-md;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-inline: 2rem;
	overflow: hidden;

	.filterContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24rem;
		font-size: 0.9rem;
		background-color: $purple-soft;
		padding: 0.7rem;

		label {
			color: $white;
			padding: 1.5rem;
			cursor: pointer;
		}
	}

	.tradeCard {
		margin-left: 1rem;
		margin-top: 1rem;
		background: $white;
		border: 1px solid $purple-strong;
		color: $grey-strong;
		font-weight: $bold-sm;
		height: 7rem;
		width: 22rem;
		border-radius: $border-md;
		cursor: pointer;
		display: flex;
		align-items: center;

		.tradeInfo {
			margin-left: 0;
			font-size: 12px;
			line-height: 1.5rem;
			text-align: left;
		}
	}

	.tradePhoto {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1rem;

		.styleImageProfile {
			width: 5rem;
			border-radius: $border-sm;
		}
	}

	.scrollableList {
		flex: 1;
		max-height: 30rem;
		overflow-y: auto;
	}
}
