//CenterColumn.module.scss
@import '../../../../stylesheets/variables.scss';
@import '../../../../stylesheets/main.scss';

/* Contenedor principal del centro */
.centerColumn {
  border: 1px solid $purple-strong;
  max-width: 100%;
  height: 34rem;
  width: 24rem;
  font-family: $Lexend;
  border-radius: $border-md;
  display: flex;
  align-items: center;
  margin-inline: 2rem;
  overflow: hidden;
  flex-direction: column;
}

/* Contenedor de los radio button */
.filterContainer {
  display: flex;
  justify-content: center;
  width: 24rem;
  font-size: 0.9rem;
  background-color: $purple-soft;
  padding: 0.7rem;

  /* Estilos para el texto*/
  label {
    color: $white;
    padding: 1.5rem;
    cursor: pointer;
  }
}

/* Estilos para las tarjetas */
.tradeCard {
  margin: 1rem;
  background: $white;
  border: 1px solid $purple-strong;
  color: $grey-strong;
  font-weight: $bold-sm;
  height: 7rem;
  width: 23rem;
  border-radius: $border-md;
  display: flex;
  align-items: center;
  cursor: pointer;

  /* Estilos para el focus */

  // &:focus {
  // 	box-shadow: 0 0 5px $purple-soft;
  // }

  /* Estilos para el texto dentro de la tarjeta */
  .tradeInfo {
    margin-left: 0;
    font-size: 12px;
    line-height: 1.5rem;
    text-align: left;
  }
}

/* Contenedor de la foto */
.tradePhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  /* Propiedades de la foto */
  .styleImageProfile {
    width: 5rem;
    border-radius: $border-sm;
  }
}

/* Contenedor de la lista scrollable */
.scrollableList {
  flex: 1;
  max-height: 31rem;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
