.containererror {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 10%;
}
.number {
  font-size: 5rem;
  font-weight: bold;
  color: #4c3e7f;
}

.notfound {
  font-size: 2rem;
  color: #6e629b;
}

.backhome {
  font-size: 1.2rem;
  color: #848282;
  margin-top: 2rem;
}

.backhome span {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.homebtn {
  background-color: #4c3e7f;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-out;
}

.homebtn:hover {
  background-color: #2a1280;
}

.homebtn a {
  color: white;
  text-decoration: none;
}
