.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formcontainer {
  width: 35rem;
  height: 35rem;
  color: #626262;
  padding: 4rem 4rem;
  border: 0.2rem solid #4c3e7f;
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

.formcontainer .inputbox {
  width: 100%;
  height: 2.8rem;
  margin: 5rem 0;
  color: #626262;
}

.inputbox:first-child,
.inputbox:nth-child(2) {
  margin-top: 2rem;
}

.logintext {
  margin-top: -2.4rem;
}

.label {
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.inputbox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #616161;
}

.inputbox input[type="email"],
.inputbox input[type="password"] {
  border: 0.15rem solid #4c3e7f;
  border-radius: 0.4rem;
  color: #616161;
  padding: 0.7rem 1rem;
  font-size: 1rem;
}

.btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  outline: none;
  background-color: #4c3e7f;
  color: white;
  font-weight: bold;
  padding: 1rem 4rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.btn:hover {
  background: #2a1280;
}

.forgotcontainer {
  display: flex;
  justify-content: flex-end;
}

.forgotcontainer a {
  color: #626262;
  text-decoration: none;
  margin-bottom: 1.4rem;
}

.forgotcontainer a:hover {
  text-decoration: underline;
}

.registerlink {
  text-align: center;
  margin-top: 2rem;
}

.registerlink a {
  color: #626262;
  text-decoration: none;
  font-weight: bold;
}

.registerlink a:hover {
  text-decoration: underline;
}

.registerlink span:hover {
  color: #4c3e7f;
}

.backbtn {
  position: relative;
}

.backbtn svg {
  position: absolute;
  color: #4c3e7f;
  width: 2rem;
  height: 2rem;
  transition: color 0.2s ease-out;
}

.backbtn svg:hover {
  color: #2a1280;
}

.errormail,
.errorpass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
}

.errormail p,
.errorpass p {
  background-color: rgb(143, 1, 1);
  color: #ffff;
  text-align: center;
  padding: 0.5rem;
  font-weight: 400;
  border-radius: 0.4rem;
}
