@import '../stylesheets/variables.scss';

.overlayContainer {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	align-items: center;
	z-index: 91;
	opacity: 0;
	transition: opacity 1s ease;

	&.show {
		opacity: 1;
	}
}

.purpleOverlay {
	width: 100vw;
	height: 100vh;
	background: $purple-soft;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 85;
}
