//First Form
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  min-height: 60vh;
}

.formcontainer1 {
  width: 35rem;
  height: 35rem;
  color: #626262;
  padding: 2rem 4rem;
  border: 0.2rem solid #4c3e7f;
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

.formcontainer1 .inputbox1 {
  // width: 100%;
  height: 2.8rem;
  margin: 5rem 0;
  color: #626262;
}

.inputbox1:first-child,
.inputbox1:nth-child(2) {
  margin-top: 2rem;
}

.inputbox1 input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #616161;
}

.label1 {
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.inputbox1 input[type="text"],
.inputbox1 input[type="password"] {
  border: 0.15rem solid #4c3e7f;
  border-radius: 0.4rem;
  color: #616161;
  padding: 0.7rem 1rem;
  font-size: 1rem;
}

.btncontainer1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 {
  border: none;
  outline: none;
  background-color: #4c3e7f;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1rem 4rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.btn1:hover {
  background: #2a1280;
}

.registerlink1 a:hover {
  text-decoration: underline;
}

.registerlink1 span:hover {
  color: #4c3e7f;
}

.backbtn1 {
  position: relative;
}

.backbtn1 svg {
  position: absolute;
  color: #4c3e7f;
  top: -2.4rem;
  width: 2rem;
  height: 2rem;
  transition: color 0.2s ease-out;
}

.backbtn1 svg:hover {
  color: #2a1280;
}

.err1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
}

.err1 .errorspan1 {
  background-color: rgb(143, 1, 1);
  color: #ffff;
  text-align: center;
  padding: 0.5rem;
  font-weight: 400;
  border-radius: 0.4rem;
}

/// Second Form

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  min-height: 60vh;
}

.formcontainer {
  width: 60rem;
  height: 50rem;
  color: #626262;
  padding: 2rem 4rem;
  border: 0.2rem solid #4c3e7f;
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

.formcontainer .inputbox {
  height: 2.6rem;
  margin: 1rem 0;
}

.registerform {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.inputupload {
  position: relative;
}

.imageprofile {
  position: absolute;
  bottom: -5rem;
  left: 22rem;
  border-radius: 50%;
  border: 0.2rem solid #4c3e7f;
}

.inputupload .round {
  position: absolute;
  bottom: -5rem;
  left: 26rem;
  background: #00b4ff;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.inputupload .round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

.inputbox input[type="text"],
.inputbox input[type="number"],
.inputbox input[type="date"] {
  color: #616161;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  height: 1.7rem;
  margin: 1.5rem 0rem;
}

.inputbox .select {
  color: white;
  font-size: 1rem;
  height: 1.7rem;
  margin: 1.5rem 0rem 1.5rem 2rem;
  padding-left: 1rem;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0.1rem solid #4c3e7f;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #6e629b;
  border-radius: 0.2rem;
}

.select .option {
  background-color: #6e629b;
  font-size: 1.2rem;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.label {
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.inputcontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5rem;
}

.inputcontainer input {
  margin: 1rem;
  border: none;
  border-bottom: 1px solid #848282;
  font-size: 1.2rem;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btncontainer {
  position: relative;
}

.btn {
  position: absolute;
  top: 2rem;
  right: 18rem;
  border: none;
  outline: none;
  background-color: #4c3e7f;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1rem 4rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.btn:hover {
  background: #2a1280;
}

.backbtn {
  position: relative;
}

.backbtn svg {
  position: absolute;
  top: 3rem;
  color: #4c3e7f;
  width: 2rem;
  height: 2rem;
  transition: color 0.2s ease-out;
}

.backbtn svg:hover {
  color: #2a1280;
}

.err {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.err .errorspan {
  background-color: rgb(143, 1, 1);
  color: #ffff;
  text-align: center;
  padding: 0.2rem 0.4rem;
  font-weight: 400;
  border-radius: 0.4rem;
  font-size: 0.9rem;
}
