$breakpoints: (
  'xsmall': (
    min: 0px,
    max: 479px,
  ),
  'small': (
    min: 480px,
    max: 769px,
  ),
  'medium': (
    min: 770px,
    max: 959px,
  ),
  'large': (
    min: 960px,
    max: 1279px,
  ),
  'xlarge': (
    min: 1280px,
    max: 1469px,
  ),
  'xxlarge': (
    min: 1470px,
    max: 1680px,
  ),
  'ultralarge': (
    min: 1680px,
    max: 1920px,
  ),
);

@mixin xsmall {
  @media (min-width: map-get(map-get($breakpoints, 'xsmall'), 'min')) and (max-width: map-get(map-get($breakpoints, 'xsmall'), 'max')) {
    @content;
  }
}

@mixin small {
  @media (min-width: map-get(map-get($breakpoints, 'small'), 'min')) and (max-width: map-get(map-get($breakpoints, 'small'), 'max')) {
    @content;
  }
}

@mixin medium {
  @media (min-width: map-get(map-get($breakpoints, 'medium'), 'min')) and (max-width: map-get(map-get($breakpoints, 'medium'), 'max')) {
    @content;
  }
}

@mixin large {
  @media (min-width: map-get(map-get($breakpoints, 'large'), 'min')) and (max-width: map-get(map-get($breakpoints, 'large'), 'max')) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: map-get(map-get($breakpoints, 'xlarge'), 'min')) {
    @content;
  }
}

@mixin xxlarge {
  @media (min-width: map-get(map-get($breakpoints, 'xxlarge'), 'min')) and (max-width: map-get(map-get($breakpoints, 'xxlarge'), 'max')) {
    @content;
  }
}

@mixin ultralarge {
  @media (min-width: map-get(map-get($breakpoints, 'ultralarge'), 'min')) and (max-width: map-get(map-get($breakpoints, 'ultralarge'), 'max')) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}
