@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;600;700;800&display=swap');

$Montserrat: 'Montserrat', sans-serif;
$Lexend: 'Lexend', sans-serif;

$white: #ffffff;
$purple-strong: #4c3e7f;
$purple-soft: #6e629b;
$ocean-strong: #14a9b3;
$ocean-soft: #28dfeb;
$grey-strong: #626262;
$grey-medium: #9c9b9b;
$grey-soft: #d1d0d0;
$error-strong: #f06767;
$error-soft: #fddfdf;

$spacing-md: 16px;
$spacing-lg: 32px;

$border-sm: 0.2rem;
$border-md: 0.5rem;

$line-size-sm: 0.2rem;

$headerHeight: 80px;

$bold-xs: 400;
$bold-sm: 500;
$bold-md: 700;
$bold-lg: 800;

$shadow-medium: 0 0 7px 7px rgba(0, 0, 0, 0.1);
$shadow-small: 0 0 4px $grey-strong;

@mixin breakpoint($point) {
	@if $point == md {
		@media (min-width: 48em) {
			@content;
		}
	}
}
