@import '../../stylesheets/variables.scss';
.aboutContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8rem;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65rem;
	height: 25rem;
	border-radius: $border-md;
	background-color: $white;
	border: 3px solid $purple-soft;

	margin-left: auto;
	margin-right: auto;
}

section div {
	padding: 1rem;
}

.imageProfile {
	width: 8rem;
	height: auto;
	border-radius: 50%;
}

h2 {
	font-family: 'Lexend', sans-serif;
	color: $grey-strong;
	text-align: center;
}

ul {
	list-style-type: none;
	display: flex;
}

.icon {
	margin: 0.4rem;
	width: 1.6875rem;
	height: 1.6875rem;
}
