@import '../../stylesheets/variables.scss';

.header {
  background: transparent;
  width: 100%;
  height: 5rem;
  padding: 0 1.5rem;

  @include breakpoint(md) {
    padding: 0 3rem;
  }

  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    color: $purple-strong;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 80;

    .header__content__logo {
      display: flex;
      align-items: center;
      height: auto;
      margin-left: 1rem;

      img {
        width: 2.5rem; /* isotype size  */
        height: auto;
        margin-right: 0rem;
      }
      .logoLink {
        text-decoration: none;

        &.active {
          // active link styles
        }
      }
    }
    .logoTextFast {
      font-family: $Montserrat;
      font-size: 1.5rem;
      color: $purple-strong;
      font-weight: $bold-lg;
      margin-left: 0.5rem;
      text-transform: uppercase;
      text-decoration: none;
      z-index: 4;
    }
    .logoTextWork {
      font-family: $Montserrat;
      font-size: 1.5rem;
      color: $purple-strong;
      font-weight: $bold-lg;
      margin-left: -0.15rem;
      text-transform: uppercase;
      z-index: 8;
    }

    .logoutButton {
			background: none;
			border: none;
			cursor: pointer;
			display: flex;

			svg {
				width: 1.2rem;
				fill: $grey-strong;
				transition: fill 0.2s ease;
				margin-right: 5px;
			}

			&:hover {
				svg {
					fill: $ocean-strong;
				}
			}
		}


    &__nav {
      top: 0;
      margin-top: -0.8rem;
      right: 100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      backdrop-filter: blur(3px);
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.5s ease transform;
      padding-right: 0;

      @include breakpoint(md) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing-lg;

        @include breakpoint(md) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
        }

        li {
          &:not(:last-child) {
            margin-bottom: $spacing-lg;

            @include breakpoint(md) {
              margin-bottom: 0;
              margin-right: $spacing-md;
            }
          }

          a {
            text-decoration: none;
            font-family: $Lexend;
            letter-spacing: 0.04rem;
            font-size: 0.9rem;
            font-weight: $bold-sm;
            color: $grey-strong;
            padding: 0.75rem 1.25rem;
            border-radius: $border-sm;
          }
        }

        li a {
          position: relative;
          overflow: hidden;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0rem;
            width: 0;
            height: 0.25rem;
            background-color: $ocean-soft;
            transition: width 0.4s ease;
            border-radius: $border-sm;
            display: inline-block;
          }

          &.active::after {
            width: 100%;
          }
        }
      }

      &.isMenu {
        transform: translate(100%);
      }
    }

    &__toggle {
      display: flex;
      align-items: center;
      transition: 0.5 ease all;
      position: relative;

      &:hover {
        color: $white;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
