//RightColumn.module.scss

@import '../../../../stylesheets/variables.scss';
@import '../../../../stylesheets/main.scss';

.rightColumn {
	font-family: $Lexend;
	width: 24rem;
	height: 34rem;
	border-radius: $border-md;
	border: 1px solid $purple-soft;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background: #edebf2;

	.topBanner {
		font-family: $Lexend;
		color: $white;
		font-size: 1rem;
		display: flex;
		justify-content: left;
		align-items: center;
		width: 24rem;
		height: 2.5rem;
		background-color: $purple-soft;
		padding: 0.7rem;
	}

	.uPlink {
		margin-top: 0.5rem;
		background: $purple-soft;
		width: 10rem;
		height: 2rem;
		border-radius: 0 $border-md $border-md 0;

		a {
			padding: 0.5rem;
			display: flex;
			justify-content: center;
			font-size: 12px;
			text-transform: capitalize;
			text-decoration: none;
			color: $white;

			&:hover {
				background: $purple-strong;
				border-radius: 0 $border-md $border-md 0;
				cursor: pointer;
			}
		}
	}
	.profileInfo {
		margin-top: 0.5rem;
	}

	.profileImage {
		height: 5.5rem;
		width: 5.5rem;
		margin-top: 2.5rem;
		position: absolute;
		top: 3rem;
		margin-left: 16rem;
		display: flex;
		background: $purple-strong;
		border: 2px solid $purple-soft;
		border-radius: 50%;
		transform: translateY(180%);
		z-index: 2;
	}
	.profileTable {
		width: 100%;
		height: 90%;
		border-collapse: collapse;
	}

	.profileTitle {
		font-size: 0.8rem;
		font-weight: bold;
		color: $purple-strong;
		text-align: left;
		padding-left: 1rem;
	}
	.regularData {
		font-size: 0.8rem;
		font-weight: normal;
	}

	.scrollableText {
		background: $purple-strong;
		color: $white;
		height: 7rem;
		overflow-y: auto;
		padding: 0.8rem;
		font-size: 12px;
		line-height: 1rem;
		text-align: left;
		border-radius: 8px;
		text-align: justify;
	}

	.scrollableText::-webkit-scrollbar {
		width: 0.7rem;
		border: none;
		border-radius: $border-md;
		background-color: $white;
	}

	.scrollableText::-webkit-scrollbar-thumb {
		background-color: $purple-soft;
		border-radius: $border-md;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: $purple-strong;
	}
}
