@import '../../../stylesheets/variables.scss';
@import '../../../stylesheets/mixins.scss';

.containerprofile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.1rem;
}

.containerimage * {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 100%;

  @include large {
    height: 6rem;
    object-fit: cover;
  }

  @include xlarge {
    height: 8rem;
    object-fit: cover;
  }

  @include xxlarge {
    height: 12rem;
    object-fit: cover;
  }
}

.section {
  margin-top: 1rem;

  @include xsmall {
    margin-top: 0.2rem;
  }

  @include large {
    margin-top: 0.6rem;
  }

  @include xlarge {
    margin-top: 0.8rem;
  }
}

.containerimage:first-child {
  border-radius: 2rem;
}

.datacontainer {
  margin: 1rem;
}

.title {
  font-size: 1.4rem;
  color: $grey-strong;

  @include xsmall {
    font-size: 1rem;
  }

  @include small {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1.2rem;
  }

  @include large {
    font-size: 1.1rem;
  }

  @include xlarge {
    font-size: 1.2rem;
  }

  @include xxlarge {
    font-size: 1.5rem;
  }
}

.cardprofile {
  width: 70vw;
  height: 80vh;
  background-color: gainsboro;
  border-radius: 1rem;
  transition: width 0.3s, height 0.3s;
  max-width: 28rem;
  min-width: 17rem;

  @include xsmall {
    width: 40vw;
    height: 55vh;
  }

  @include small {
    width: 50vw;
    height: 65vh;
  }

  @include medium {
    width: 60vw;
    height: 45vh;
  }

  @include large {
    width: 45vw;
    height: 65vh;
  }

  @include xlarge {
    width: 70vw;
    height: 85vh;
  }
  @include xxlarge {
    width: 80vw;
    height: 68vh;
  }
}

.cardprofile .titledata {
  color: $purple-strong;

  @include xsmall {
    font-size: 0.9rem;
  }

  @include small {
    font-size: 0.9rem;
  }

  @include medium {
    font-size: 1.1rem;
  }

  @include large {
    font-size: 1rem;
  }

  @include xlarge {
    font-size: 1.1rem;
  }

  @include xxlarge {
    font-size: 1.2rem;
  }
}

.cardprofile .data {
  color: $purple-soft;

  @include xsmall {
    font-size: 0.8rem;
  }

  @include small {
    font-size: 0.8rem;
  }

  @include large {
    font-size: 0.8rem;
  }

  @include xlarge {
    font-size: 1rem;
  }

  @include xlarge {
    font-size: 1.1rem;
  }
}

.link {
  background-color: #6e629b8a;
  color: white;
  padding: 0.1rem;
  border-radius: 0.2rem;
  width: 14rem;

  @include xsmall {
    width: 10rem;
  }

  @include small {
    width: 10rem;
  }
}

.titledata {
  margin: 0.5rem 0;
}

.section:last-child {
  width: 100%;
  height: 8rem;
  overflow: auto;
  word-wrap: break-word;

  @include xsmall {
    height: 3.5rem;
  }

  @include large {
    height: 5.8rem;
  }

  @include xlarge {
    height: 15vh;
  }

  @include xxlarge {
    height: 8rem;
  }
}

.section:last-child::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #fff;
  border-radius: 1rem;
}

.section:last-child::-webkit-scrollbar-thumb {
  width: 0.8rem;
  background-color: #4c3e7f;
  border-radius: 1rem;
}

.containerbtn {
  display: flex;
  margin: 1rem 0rem;
}

.btn {
  border: none;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.1rem 1.4rem;
  border-radius: 0.5rem;

  @include xsmall {
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
  }

  @include small {
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
  }

  @include large {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
  }

  @include xlarge {
    padding: 0.6rem 1rem;
    font-size: 1rem;
  }

  @include xxlarge {
    padding: 0.7rem 1.2rem;
    font-size: 1.2rem;
  }
}
.editbtn {
  background-color: #14a9b3;
}

.editbtn:hover {
  background-color: #0b96a0;
}

.deletebtn {
  background-color: rgb(172, 9, 9);
}

.deletebtn:hover {
  background-color: rgb(145, 6, 6);
}

//
//Modal Edit

.modaleditform {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

//
//Modal Delete
.modaldelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
